.topheader {
  background-color: #174c80;
}
.navbar {
  background-color: #174c80;
}
.navbar-item {
  color: #fff;
}
.results--section {
}

.container-title {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

body {
  background-color: #F4F7FA;
}



